istio-1.8.1/LICENSE
istio-1.8.1/manifest.yaml
istio-1.8.1/README.md
istio-1.8.1/bin/istioctl
istio-1.8.1/manifests/charts/global.yaml
istio-1.8.1/manifests/charts/README-helm3.md
istio-1.8.1/manifests/charts/README.md
istio-1.8.1/manifests/charts/UPDATING-CHARTS.md
istio-1.8.1/manifests/charts/base/Chart.yaml
istio-1.8.1/manifests/charts/base/kustomization.yaml
istio-1.8.1/manifests/charts/base/NOTES.txt
istio-1.8.1/manifests/charts/base/values.yaml
istio-1.8.1/manifests/charts/base/crds/crd-all.gen.yaml
istio-1.8.1/manifests/charts/base/crds/crd-operator.yaml
istio-1.8.1/manifests/charts/base/files/gen-istio-cluster.yaml
istio-1.8.1/manifests/charts/base/templates/clusterrole.yaml
istio-1.8.1/manifests/charts/base/templates/clusterrolebinding.yaml
istio-1.8.1/manifests/charts/base/templates/crds.yaml
istio-1.8.1/manifests/charts/base/templates/endpoints.yaml
istio-1.8.1/manifests/charts/base/templates/role.yaml
istio-1.8.1/manifests/charts/base/templates/rolebinding.yaml
istio-1.8.1/manifests/charts/base/templates/serviceaccount.yaml
istio-1.8.1/manifests/charts/base/templates/services.yaml
istio-1.8.1/manifests/charts/base/templates/validatingwebhookconfiguration.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/Chart.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/NOTES.txt
istio-1.8.1/manifests/charts/gateways/istio-egress/values.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/_affinity.tpl
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/_helpers.tpl
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/autoscale.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/deployment.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/poddisruptionbudget.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/preconfigured.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/role.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/rolebindings.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/service.yaml
istio-1.8.1/manifests/charts/gateways/istio-egress/templates/serviceaccount.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/Chart.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/NOTES.txt
istio-1.8.1/manifests/charts/gateways/istio-ingress/values.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/_affinity.tpl
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/autoscale.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/deployment.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/meshexpansion.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/poddisruptionbudget.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/preconfigured.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/role.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/rolebindings.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/service.yaml
istio-1.8.1/manifests/charts/gateways/istio-ingress/templates/serviceaccount.yaml
istio-1.8.1/manifests/charts/istio-cni/Chart.yaml
istio-1.8.1/manifests/charts/istio-cni/values.yaml
istio-1.8.1/manifests/charts/istio-cni/templates/clusterrole.yaml
istio-1.8.1/manifests/charts/istio-cni/templates/clusterrolebinding.yaml
istio-1.8.1/manifests/charts/istio-cni/templates/configmap-cni.yaml
istio-1.8.1/manifests/charts/istio-cni/templates/daemonset.yaml
istio-1.8.1/manifests/charts/istio-cni/templates/serviceaccount.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/Chart.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/kustomization.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/NOTES.txt
istio-1.8.1/manifests/charts/istio-control/istio-discovery/values.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/files/gen-istio.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/files/injection-template.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/autoscale.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/configmap-jwks.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/configmap.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/istiod-injector-configmap.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/mutatingwebhook.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/poddisruptionbudget.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/service.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.6.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.7.yaml
istio-1.8.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.8.yaml
istio-1.8.1/manifests/charts/istio-operator/Chart.yaml
istio-1.8.1/manifests/charts/istio-operator/values.yaml
istio-1.8.1/manifests/charts/istio-operator/crds/crd-operator.yaml
istio-1.8.1/manifests/charts/istio-operator/files/gen-operator.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/clusterrole_binding.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/clusterrole.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/crds.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/deployment.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/namespace.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/service_account.yaml
istio-1.8.1/manifests/charts/istio-operator/templates/service.yaml
istio-1.8.1/manifests/charts/istiocoredns/Chart.yaml
istio-1.8.1/manifests/charts/istiocoredns/values.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/_affinity.tpl
istio-1.8.1/manifests/charts/istiocoredns/templates/autoscale.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/clusterrole.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/clusterrolebinding.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/configmap.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/deployment.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/poddisruptionbudget.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/service.yaml
istio-1.8.1/manifests/charts/istiocoredns/templates/serviceaccount.yaml
istio-1.8.1/manifests/charts/istiod-remote/Chart.yaml
istio-1.8.1/manifests/charts/istiod-remote/kustomization.yaml
istio-1.8.1/manifests/charts/istiod-remote/NOTES.txt
istio-1.8.1/manifests/charts/istiod-remote/values.yaml
istio-1.8.1/manifests/charts/istiod-remote/files/gen-istiod-remote.yaml
istio-1.8.1/manifests/charts/istiod-remote/files/injection-template.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/configmap.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/istiod-injector-configmap.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/mutatingwebhook.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/telemetryv2_1.6.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/telemetryv2_1.7.yaml
istio-1.8.1/manifests/charts/istiod-remote/templates/telemetryv2_1.8.yaml
istio-1.8.1/manifests/examples/customresource/istio_v1alpha1_istiooperator_cr.yaml
istio-1.8.1/manifests/examples/multicluster/values-istio-multicluster-gateways.yaml
istio-1.8.1/manifests/examples/multicluster/values-istio-multicluster-primary.yaml
istio-1.8.1/manifests/examples/user-gateway/ingress-gateway-only.yaml
istio-1.8.1/manifests/examples/vm/values-istio-meshexpansion-gateways.yaml
istio-1.8.1/manifests/examples/vm/values-istio-meshexpansion.yaml
istio-1.8.1/manifests/profiles/default.yaml
istio-1.8.1/manifests/profiles/demo.yaml
istio-1.8.1/manifests/profiles/empty.yaml
istio-1.8.1/manifests/profiles/minimal.yaml
istio-1.8.1/manifests/profiles/openshift.yaml
istio-1.8.1/manifests/profiles/preview.yaml
istio-1.8.1/manifests/profiles/PROFILES.md
istio-1.8.1/manifests/profiles/remote.yaml
istio-1.8.1/samples/README.md
istio-1.8.1/samples/addons/grafana.yaml
istio-1.8.1/samples/addons/jaeger.yaml
istio-1.8.1/samples/addons/kiali.yaml
istio-1.8.1/samples/addons/prometheus.yaml
istio-1.8.1/samples/addons/README.md
istio-1.8.1/samples/addons/extras/prometheus-operator.yaml
istio-1.8.1/samples/addons/extras/zipkin.yaml
istio-1.8.1/samples/bookinfo/build_push_update_images.sh
istio-1.8.1/samples/bookinfo/README.md
istio-1.8.1/samples/bookinfo/swagger.yaml
istio-1.8.1/samples/bookinfo/networking/bookinfo-gateway.yaml
istio-1.8.1/samples/bookinfo/networking/certmanager-gateway.yaml
istio-1.8.1/samples/bookinfo/networking/destination-rule-all-mtls.yaml
istio-1.8.1/samples/bookinfo/networking/destination-rule-all.yaml
istio-1.8.1/samples/bookinfo/networking/destination-rule-reviews.yaml
istio-1.8.1/samples/bookinfo/networking/egress-rule-google-apis.yaml
istio-1.8.1/samples/bookinfo/networking/fault-injection-details-v1.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-all-v1.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-details-v2.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-ratings-db.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-ratings-mysql-vm.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-ratings-mysql.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-ratings-test-abort.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-ratings-test-delay.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-50-v3.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-80-20.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-90-10.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-jason-v2-v3.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-test-v2.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-v2-v3.yaml
istio-1.8.1/samples/bookinfo/networking/virtual-service-reviews-v3.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-certificate.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-db.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-details-v2.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-details.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ingress.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-mysql.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ratings-discovery.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2-mysql-vm.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2-mysql.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-ratings.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo-reviews-v2.yaml
istio-1.8.1/samples/bookinfo/platform/kube/bookinfo.yaml
istio-1.8.1/samples/bookinfo/platform/kube/cleanup.sh
istio-1.8.1/samples/bookinfo/platform/kube/productpage-nodeport.yaml
istio-1.8.1/samples/bookinfo/platform/kube/README.md
istio-1.8.1/samples/bookinfo/policy/productpage_envoy_ratelimit.yaml
istio-1.8.1/samples/bookinfo/src/build-services.sh
istio-1.8.1/samples/bookinfo/src/mongodb/ratings_data.json
istio-1.8.1/samples/bookinfo/src/mongodb/script.sh
istio-1.8.1/samples/bookinfo/src/productpage/requirements.txt
istio-1.8.1/samples/bookinfo/src/productpage/test-requirements.txt
istio-1.8.1/samples/bookinfo/src/ratings/package.json
istio-1.8.1/samples/certs/ca-cert.pem
istio-1.8.1/samples/certs/ca-key.pem
istio-1.8.1/samples/certs/cert-chain.pem
istio-1.8.1/samples/certs/generate-workload.sh
istio-1.8.1/samples/certs/README.md
istio-1.8.1/samples/certs/root-cert.pem
istio-1.8.1/samples/certs/workload-bar-cert.pem
istio-1.8.1/samples/certs/workload-bar-key.pem
istio-1.8.1/samples/certs/workload-foo-cert.pem
istio-1.8.1/samples/certs/workload-foo-key.pem
istio-1.8.1/samples/custom-bootstrap/custom-bootstrap.yaml
istio-1.8.1/samples/custom-bootstrap/example-app.yaml
istio-1.8.1/samples/custom-bootstrap/README.md
istio-1.8.1/samples/external/aptget.yaml
istio-1.8.1/samples/external/github.yaml
istio-1.8.1/samples/external/pypi.yaml
istio-1.8.1/samples/external/README.md
istio-1.8.1/samples/health-check/liveness-command.yaml
istio-1.8.1/samples/health-check/liveness-http-same-port.yaml
istio-1.8.1/samples/helloworld/gen-helloworld.sh
istio-1.8.1/samples/helloworld/helloworld-gateway.yaml
istio-1.8.1/samples/helloworld/helloworld.yaml
istio-1.8.1/samples/helloworld/loadgen.sh
istio-1.8.1/samples/helloworld/README.md
istio-1.8.1/samples/helloworld/src/build_service.sh
istio-1.8.1/samples/helloworld/src/requirements.txt
istio-1.8.1/samples/httpbin/httpbin-gateway.yaml
istio-1.8.1/samples/httpbin/httpbin-nodeport.yaml
istio-1.8.1/samples/httpbin/httpbin-vault.yaml
istio-1.8.1/samples/httpbin/httpbin.yaml
istio-1.8.1/samples/httpbin/README.md
istio-1.8.1/samples/httpbin/sample-client/fortio-deploy.yaml
istio-1.8.1/samples/https/default.conf
istio-1.8.1/samples/https/nginx-app.yaml
istio-1.8.1/samples/kubernetes-blog/bookinfo-ratings.yaml
istio-1.8.1/samples/kubernetes-blog/bookinfo-reviews-v2.yaml
istio-1.8.1/samples/kubernetes-blog/bookinfo-v1.yaml
istio-1.8.1/samples/multicluster/expose-istiod.yaml
istio-1.8.1/samples/multicluster/expose-services.yaml
istio-1.8.1/samples/multicluster/gen-eastwest-gateway.sh
istio-1.8.1/samples/multicluster/README.md
istio-1.8.1/samples/operator/cni-on.yaml
istio-1.8.1/samples/operator/default-install.yaml
istio-1.8.1/samples/operator/pilot-advanced-override.yaml
istio-1.8.1/samples/operator/pilot-k8s.yaml
istio-1.8.1/samples/operator/values-global.yaml
istio-1.8.1/samples/operator/values-pilot.yaml
istio-1.8.1/samples/rawvm/demo.sh
istio-1.8.1/samples/rawvm/Makefile
istio-1.8.1/samples/rawvm/README.md
istio-1.8.1/samples/security/psp/sidecar-psp.yaml
istio-1.8.1/samples/sleep/README.md
istio-1.8.1/samples/sleep/sleep-vault.yaml
istio-1.8.1/samples/sleep/sleep.yaml
istio-1.8.1/samples/tcp-echo/README.md
istio-1.8.1/samples/tcp-echo/tcp-echo-20-v2.yaml
istio-1.8.1/samples/tcp-echo/tcp-echo-all-v1.yaml
istio-1.8.1/samples/tcp-echo/tcp-echo-services.yaml
istio-1.8.1/samples/tcp-echo/tcp-echo.yaml
istio-1.8.1/samples/websockets/app.yaml
istio-1.8.1/samples/websockets/README.md
istio-1.8.1/samples/websockets/route.yaml
istio-1.8.1/tools/_istioctl
istio-1.8.1/tools/dump_kubernetes.sh
istio-1.8.1/tools/istioctl.bash
istio-1.8.1/tools/certs/common.mk
istio-1.8.1/tools/certs/Makefile.k8s.mk
istio-1.8.1/tools/certs/Makefile.selfsigned.mk
istio-1.8.1/tools/certs/README.md
